# Node.js dependencies
node_modules/

# Logs
logs/
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage/
*.lcov
.nyc_output/

# Grunt intermediate storage
.grunt/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# Build outputs
dist/
build/Release/

# Nitro.js build outputs
.nitro/

# Next.js and Nuxt.js build outputs
.next/
.out/
.nuxt/
.output/

# Gatsby build output
.public/
.cache/

# VuePress build output
.vuepress/dist/

# Docusaurus cache
.docusaurus/

# Serverless directories
.serverless/

# Parcel, FuseBox, and other caches
.cache/
.parcel-cache/
.fusebox/
.dynamodb/
.tern-port/

# Environment variable files
.env.*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package lock files
package-lock.json
# Except the root package-lock.json
!/package-lock.json

# Temp directories
.temp/
.tmp/

# Coverage reports
reports/

# Misc
.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk/

# Deployment outputs
.vercel_build_output/
.build-*/
.netlify/
.vercel/
.amplify-hosting/
staticwebapp.config.json

# Firebase specific
**/.firebase/
**/.firebaserc
**/.runtimeconfig.json
service-account-credentials.json
**/firebase-debug.log

# Cypress test artifacts
cypress/screenshots/
cypress/videos/

# IDE and OS generated files
*.iml
.vs/
